@charset "utf-8";
/* CSS Document */
*{box-sizing:border-box;}
body{ margin:0px; padding:0px; font-size:12px; width:100%;}
img{ max-width:100%; border:0px; min-width:320px; width:100%;}
.top{ width:100%; float:left; position:relative;}
.top .fojiao{ position:absolute; top:20%; right:10%; font-weight:bold; }
.fojiao a{ line-height:20px; font-size:14px; text-decoration:none; color:#000;}
.nav { width:100%; float:left;}
.postition{ width:100%; float:left;}
.postition a{ font-size:14px; color:#000000; text-decoration:none; margin-left:10px;}
.nav ul{ margin:0px; padding:0px;}
.nav ul li{ list-style:none; line-height:25px; height:25px; margin:0px 5px; float:left; display:inline;}
.nav ul li a{ color:#000; text-decoration:none; font-size:14px; word-break:break-all; break-after:always;}
.nav ul li a:visited{ color:#FF0000;}
.nav ul li a:active{ color:#FF0000;}
.list ul li{ width:99%; float:left; line-height:25px;}
.nav>.new_ul{padding-left:10px;}
.nav>.new_ul>li{display:inline-block; min-width:23%; max-width:70%; background:url(button1.png) center center no-repeat;  background-size:100% 26px; margin: 5px 0; float:none; padding: 0 10px; text-align:center;}
.nav>.new_ul>li>a{color:#fff;}
.title{ background:#fbeebc; height:31px; line-height:31px; width:100%; float:left; font-size:14px; text-align:center}
.title span{ float: right; color: #000ecc; margin-right: 10px; position: absolute; right: 30px;}
.content{ margin:10px 0px; padding:0px 5px; float:left; width:99%; overflow:hidden; line-height:25px; letter-spacing:2px; font-size:14px}
.new-title{background:url('title.png') center center no-repeat; background-size:90% ; margin-top:25px; height:30px; line-height:30px;}
.new-title>img{min-width:32px!important;width:32px!important; vertical-align:-5px; margin-right:10px;} 
.backup{ color:#f00; float:left; width:100%; margin:10px 0px; text-align:right; }
.backup a{color: #fff; text-decoration: none; font-size: 14px; margin-right: 10px; display: block; width: 100px; height: 30px; text-align: center; position: absolute; right: 5px; background: url(backup.png) no-repeat center center; background-size: 100%; line-height: 38px; text-indent: 15px;}
.title a{ color:#FF0000; text-decoration:none;}
.tab{ float:left; width:100%;}
.tab ul{ margin:0px; padding:0px;}
.tab ul li{ float:left; width:33%; list-style:none; height:35px; line-height:35px; background:#fdf4d5; text-indent:20px;}
.tab ul li.current{ background:#fbeebb;}
.download a{ width:45%; float:left;  text-decoration:none; margin-top:10px;}
@media screen and (min-width:320px) and (max-width:960px){
.bottom{width: 100%; bottom:auto;   position:fixed!important; position:absolute; bottom:0px!important; top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(documentElement.clientHeight - this.clientHeight)-31:document.body.scrollTop+(document.body.clientHeight - this.clientHeight))-31; _position:relative!important;}
.backup{padding-bottom:10px;}
.backup  a{padding-bottom:10px;}
}
/**
* pc客户端
*/
@media screen and (min-width:960px){
.bottom{width: 100%; position:relative}
}
